body {
  margin: 0;padding: 0;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #eee;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 40vh;
  min-width: 100vw;
  background: url(./images/header-bgimg2.jpeg);
  background-size: 100vw 40vh;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#head-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 40px;
}
#name-saying {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saying {
  color: white;
  
}
#name {
  color: white;
  margin-bottom: 20px;
  font-size: 40px;
}
/* 文章部分 */
li {
  list-style: none;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#article {
  width: 60%;
  /* border: 1px solid red; */
}
.article-list {
  height: 100px;
  line-height: 100px;
  text-align: left;
  background: white;
  border-radius: 10px;
  margin: 10px;
}
.article-list-link {
  padding: 20px;
  padding-left: 10%;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  transition: all .3s linear;
}
.article-list-link:hover {
  color: #a60;
  font-size: 24px;
}
/* footer */
footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #777;
  color: white;
}
.foot {
  font-size: 14px;
  text-align: center;
}