* {box-sizing: border-box;}
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  display: flex;
}
h2 {
  font-size: 2rem;
  color: #fff;
  white-space: nowrap;
}
.left,.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex: 0.5;
  transition: flex .7s ease-in-out;
}
button {
  font-size: 20px;
  border: 2px solid #fff;
  width: 12rem;
  height: 3rem;
  color: #fff;
  background-color: transparent;
}
button:hover {
  border-color: rgb(233, 95, 233);
  background-color: rgb(233, 95, 233);
}
.left:hover,.right:hover {
  flex: 1;
}
.left {
  background: center/cover url('./images/ps5.jpg');
}
.right {
  background: left/cover url('./images/xbox.jpg');
}